{% extends "layout.html" %} {% block title %} Entretenimiento {% endblock %} {% block content%}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <img class="img-fluid rounded-3 my-5" src="static/img/mosaico2.png" alt="..." />
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Películas taquilleras del momento</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Puedes disfrutar de las mejores y más recientes películas que están revolucionando los cines, con tan sólo dar click a la película que prefieras y podrás disfrutarla.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="movies">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#"><img src="static/img/mosaico2.png" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Película 1</h5>
                    <p>Película Documental.</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="static/img/mosaico2.png" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Película 2</h5>
                    <p>Película de Drama y Suspenso.</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="static/img/mosaico2.png" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Película 3</h5>
                    <p>Película de Acción y Thriller</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</section>
{% endblock %}